<!doctype html>
<html lang="{{ site.lang | default: 'ko-KR' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}">
    {% seo title=false %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <div class="page-shell">
      {% include header.html %}
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
